In [2]:
# Tao list rong
emptyList = []
# Tao doi tuong list
emptyList2 = list()
print(emptyList)
print(emptyList2)

[]
[]

In [3]:
# Tao list co data
colors = ['red', 'green', 'blue', 'yellow', 'orange']
print(colors)

['red', 'green', 'blue', 'yellow', 'orange']

In [4]:
studentList = ['An', 'Binh', 'Ngan', 'Vy']
print(studentList[2])
print(studentList[1])

Ngan
Binh

In [5]:
print(studentList)
print(studentList[:])

['An', 'Binh', 'Ngan', 'Vy']
['An', 'Binh', 'Ngan', 'Vy']

In [6]:
# studentList[x:y] -> lay ra [x:y], lay tu x den < y
print(studentList[1:2])
print(studentList[0:2])
print(studentList[1:4])

['Binh']
['An', 'Binh']
['Binh', 'Ngan', 'Vy']

In [7]:
# them phan tu vao cuoi list
studentList.append('Thien')
print(studentList)
studentList[len(studentList):] = ['Thanh']
print(studentList)

['An', 'Binh', 'Ngan', 'Vy', 'Thien']
['An', 'Binh', 'Ngan', 'Vy', 'Thien', 'Thanh']

In [8]:
# chen phan tu vao list
studentList.insert(2, 'Ngoc')
print(studentList)

['An', 'Binh', 'Ngoc', 'Ngan', 'Vy', 'Thien', 'Thanh']

In [9]:
# so luong phan tu trong list
print(len(studentList))

7

In [10]:
# dem so phan tu thoa dk
print('Dem Ngoc: ', studentList.count('Ngoc'))
print('Dem Thanh: ', studentList.count('Thanh'))
print('Dem An: ', studentList.count('An'))

Dem Ngoc:  1
Dem Thanh:  1
Dem An:  1

In [11]:
# kiem tra phan tu co trong list: in
# xoa phan tu ra khoi list bang gia tri
if 'Ngoc' in studentList:
    studentList.remove('Ngoc')
    print(studentList)

# xoa phan tu ra khoi list bang vi tri
studentList.pop(0)
print(studentList)

['An', 'Binh', 'Ngan', 'Vy', 'Thien', 'Thanh']
['Binh', 'Ngan', 'Vy', 'Thien', 'Thanh']

In [12]:
# dao nguoc list
studentList.reverse()
print(studentList)

['Thanh', 'Thien', 'Vy', 'Ngan', 'Binh']

In [13]:
numbers = [7, 5, 1, 9, 0, 5, 7]
numbers.sort()
print(numbers)

[0, 1, 5, 5, 7, 7, 9]

In [14]:
# sap xep nguoc
studentList.sort(reverse=True)
print(studentList)

['Vy', 'Thien', 'Thanh', 'Ngan', 'Binh']

In [15]:
# sap xep nguoc
numbers.sort(reverse=True)
print(numbers)

[9, 7, 7, 5, 5, 1, 0]

In [16]:
#print(1)
#print(2)
#...
# vong lap di tu 0 -> <n, moi lan tang 1 don vi
n = 10
for i in range(n):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
# vi du tinh tong cac so tu 0 -> n
n = int(input('Nhap vao n: '))
tong = 0
for i in range(n + 1):
    tong += i
print('Tong = ', tong)

Nhap vao n: 5
Tong =  15

In [21]:
# vong lap for, co buoc tang tuy chinh
for i in range(0, 10, 2):
    print(i)
for i in range(10, 0, -1):
    print(i)

0
2
4
6
8
10
9
8
7
6
5
4
3
2
1

In [22]:
colors = ['red', 'yellow', 'green']
# vong lap for duyet cac phan tu cua list
for color in colors:
    print(color)

red
yellow
green

In [24]:
# vong lap for duyet phan tu theo vi tri
for i in range(len(colors)):
    print(colors[i])

red
yellow
green

In [25]:
for i in range(1, 11):
    print('2 x {0} = {1}'.format(i, 2 * i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [26]:
for j in range(2, 10):
    print('Bang cuu chuong ', j)
    for i in range(1, 11):
        print('{0} x {1} = {2}'.format(j, i, j * i))

Bang cuu chuong  2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Bang cuu chuong  3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Bang cuu chuong  4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Bang cuu chuong  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Bang cuu chuong  6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
Bang cuu chuong  7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Bang cuu chuong  8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
Bang cuu chuong  9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [28]:
a = 10
print(type(a))
b = 10.5
print(type(b))
c = True
print(type(c))
d = 'xin chao'
print(type(d))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [30]:
# cong chuoi
s1 = 'hello'
s2 = 'python'
s3 = s1 + s2
print(s3)

hellopython

In [31]:
# tao chuoi nhieu dong
chuoiNhieuDong = '''
Dong 1
Dong 2
Dong 3
'''
print(chuoiNhieuDong)

Dong 1
Dong 2
Dong 3

In [33]:
# lap lai chuoi
string = 'this is a string\n'
string_10 = string * 10
print(string_10)

this is a string
this is a string
this is a string
this is a string
this is a string
this is a string
this is a string
this is a string
this is a string
this is a string

In [35]:
# kiem tra chuoi co thuoc chuoi khac
s1 = 'Xin chao cac ban'
s2 = 'Xin chao'
s3 = 'vn'
if s2 in s1:
    print('s2 la con cua s1')
else:
    print('s2 khong la con cua s1')
    
if s3 in s1:
    print('s3 la con cua s1')
else:
    print('s3 khong la con cua s1')

s2 la con cua s1
s3 khong la con cua s1

In [36]:
# viet hoa chu dau chuoi
s = 'hom nay troi dep qua!'
s = str.capitalize(s)
print(s)

Hom nay troi dep qua!

In [37]:
# viet hoa toan bo chuoi
s = s.upper()
print(s)

HOM NAY TROI DEP QUA!

In [38]:
# viet thuong toan bo chuoi
s = s.lower()
print(s)

hom nay troi dep qua!

In [39]:
# tim va dem toan bo so luong chuoi con
s = 'Lập trình Python là xu hướng hiện nay. Bạn nên học lập trình Python.'
print(s.find('PythonX')) # tra ve -1 neu khong tim thay, nguoc lai tra ve vi tri dau tien
print(s.find('Python'))
print(s.count('Python'))

-1
10
2

In [40]:
# thay the chuoi
s = 'Lập trình Python là xu hướng hiện nay. Bạn nên học lập trình Python.'
s = s.replace('Python', 'PYTHON')
print(s)

Lập trình PYTHON là xu hướng hiện nay. Bạn nên học lập trình PYTHON.

In [42]:
# cat chuoi thanh list
s = 'Lập trình Python là xu hướng hiện nay. Bạn nên học lập trình Python.'
list1 = s.split(' ')
print(list1)
list2 = s.split('.')
print(list2)

['Lập', 'trình', 'Python', 'là', 'xu', 'hướng', 'hiện', 'nay.', 'Bạn', 'nên', 'học', 'lập', 'trình', 'Python.']
['Lập trình Python là xu hướng hiện nay', ' Bạn nên học lập trình Python', '']

In [43]:
print('{0} + {1} = {2}'.format(1, 2, 1 + 2))

1 + 2 = 3

In [44]:
# lay chuoi con
print(s[0:10])

Lập trình

In [5]:
# nhap n (n > 0)
n = -1
while (n <= 0):
    n = int(input('Nhap vao n > 0: '))
# chuyen doi tu thap phan sang nhi phan
x = n
ketQua = ''
while (n > 0):
    ketQua = str(n % 2) + ketQua
    #print('n % 2 = ', n % 2)
    n = n // 2
    #print('n = ', n)
print('ket qua: ',ketQua)

Nhap vao n > 0: 123456789
ket qua:  111010110111100110100010101

In [6]:
gioiTinh = ('Nam', 'Nu')

In [2]:
lopHoc = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

In [3]:
traiCay = ('Tao', 'Chuoi', 'Tao', 'Cam', 'Man', 'Dua hau')

In [8]:
print(gioiTinh[0])

Nam

In [9]:
print(traiCay)

('Tao', 'Chuoi', 'Tao', 'Cam', 'Man', 'Dua hau')

In [10]:
for x in traiCay:
    print(x)

Tao
Chuoi
Tao
Cam
Man
Dua hau

In [12]:
y = (1, 2, 3) + (4, 5, 6)
print(y)

(1, 2, 3, 4, 5, 6)

In [13]:
y = (1, 2, 3) * 2
print(y)

(1, 2, 3, 1, 2, 3)